# Data Types In python
1) Numbers  
2) Strings  
3) Boolean  
4) Strings  
5) List  
6) Tuple  
7) Set   
8) Dictionary

## Numbers

In [10]:
a =10

In [11]:
print(type(a))

<class 'int'>

In [12]:
a = 2.5

In [13]:
print(type(2.5))

<class 'float'>

In [14]:
a = 1 + 2j

In [15]:
print(type(a))

<class 'complex'>

# Strings

## Properties 

1) Sequence of unicode Characters  
2) Enclosed in Double quote or in single quote  
3) Mutiline strings enclosed in triple quotes  
4) Support the indexing

In [21]:
 new_string = 'Data Basics is my youtube channel'

In [22]:
print(new_string)

Data Basics is my youtube channel

In [23]:
new_string[0]

'D'

In [24]:
new_string[len(new_string) - 1]

'l'

# To check the String is palidrom or not

In [55]:
temp = 'dddddd'

In [62]:
 temp[::-1]

'dddddd'

In [35]:
if temp[::-1] == temp:
    print("String is palidrome")
else:
    print("String is not palidome")

String is palidrome

## Python List

1) Ordered sequence of items   
2) All the Items list do not need to be of the same data type   
3) Declaring a list is nothing but the items separated by commas are enclosed within brackets[]  
4) We can access each of the elements in the list using their indexes.  
5) Lists are mutable

In [37]:
temp = ['1','3','4','Kunal']

In [38]:
temp[1]

'3'

In [39]:
temp[1] = 10

In [40]:
print(temp)

['1', 10, '4', 'Kunal']

## Tuple

1) ordered sequence of elements  
2) List is mutable whereas a Tuple is immutable  
3) elements in a tuple should be enclosed between a pair of round brackets

In [41]:
k = (2,3,5)

In [42]:
print(k)

(2, 3, 5)

In [43]:
k[2]

5

In [44]:
k[2] = 8

TypeError: 'tuple' object does not support item assignment

# Set
1) unordered collection of unique items    
2) Defined by curly braces {}     
3) Sets do allow repetition of elements  
4) Substraction,union,intersetion these opreration can performed

In [45]:
a = {1,2,3}

In [46]:
b = {3,2,4}

In [47]:
c = {2,3}

## Dictionary

1) unordered collection of key-value pairs  
2) Dictionary are present in key-value pair format.  
3) Dictionary doesnâ€™t allow duplication of keys

In [51]:
d1 = {'Maharashtra':'Mumbai','karnataka':'Bangalore'}

In [52]:
d1['Maharashtra']

'Mumbai'

In [53]:
d1['karnataka']

'Bangalore'