## Set Operations

In [19]:
s1 = {1,3,5,6,7,8,10}

In [20]:
s2 = {1,2,3,6,7,14,15}

## Union

In [21]:
s3 = s1 | s2

In [22]:
print(s3)

{1, 2, 3, 5, 6, 7, 8, 10, 14, 15}

# Intersection

In [23]:
s4 = s1 & s2

In [24]:
print(s4)

{1, 3, 6, 7}

## Difference

In [26]:
s5 = s1 - s2

In [27]:
print(s5)

{8, 10, 5}

In [28]:
s6 = s2- s1

In [29]:
s6

{2, 14, 15}

# Find the common element in the two list without using for loop

In [30]:
temp1 = [1,4,5,6,7,8,9]

In [31]:
temp2 = [4,5,6,7,10,14,15]

In [32]:
temp1_set = set(temp1)

In [33]:
temp2_set =  set(temp2)

In [34]:
temp3_set = temp1_set & temp2_set

In [35]:
print(temp3_set)

{4, 5, 6, 7}